.col-md-12
  .nobg-form-body
    = form_for @item do |f|
      =render "layouts/errors", object: @item
      .row
        .col-md-5
          = f.text_field :name, placeholder: "Name", class: "form-control"
        .col-md-6
          = f.text_field :link, placeholder: "Link [optional]", class: "form-control"
        .col-md-1
          = button_tag type: "submit", class: "btn btn-success btn-block" do
            %span.glyphicon.glyphicon-plus
  .item-table
    .item-header.row
      .name-header.col-md-5 Name
      .link-header.col-md-5 Link
      .actions-header.col-md-2.text-right Actions
    -current_user.items.each do |item|
      .item-row.row{id: "item-#{item.id}"}
        .name.col-md-5= item.name
        .link.col-md-5
          = link_to "Go to Item's Link", full_url(item.link) if !item.link.empty?
        .actions.col-md-2.text-right
          = link_to edit_row_item_path(item), method: "post", remote: true, class: "btn btn-warning" do
            %span.glyphicon.glyphicon-pencil
          = link_to item_path(item), method: "delete", action: "destroy", data: {confirm: "Deleting item, Are you sure?"}, class: "btn btn-danger" do
            %span.glyphicon.glyphicon-remove
    
